<nav id="nav-ul">
  <a href="/home">HOME</a>
  <a href="/aboutus">ABOUT US</a>
  <a href="/contact">CONTACT</a>
</nav>
<div id="text-container">
  <p>En este sitio te conectamos con el mundo de los libros online. Nuestro objetivo es acercar la lectura a todos, ofreciendo una experiencia sencilla y accesible desde cualquier lugar. Explora nuestra biblioteca con una amplia variedad de géneros y descubre tu próxima historia favorita. Aquí, la pasión por la literatura se une con la comodidad de leer desde tu dispositivo.
  Gracias por elegirnos.</p>
  <p>¡Feliz lectura! 📚</p>
</div>