<nav id="nav-ul">
    <a href="">HOME</a>
    <a href="">ABOUT US</a>
    <a href="">CONTACT</a>
</nav>
<div id="main-body">
  <div id="index-header">
    <h1>{{title}}</h1>
    <h2 id="index-p">Bienvenido a un mundo de libros</h2>
    <p>Suscribite a la emoción y al conocimiento, al equilibrio y a un espíritu
      crítico, al placer que sólo proporciona la lectura.</p>
  </div>
  <div id="btn-container">
    <a href="/auth/login">
      <button id="btn-entrar">ENTRAR</button>
    </a>
  </div>
</div>