<h1>{{title}}</h1>
<h2>Bienvenido a un mundo de libros</h2>
<p>Suscribite a la emoción y al conocimiento, al equilibrio y a un espíritu crítico, al placer que sólo proporciona la lectura.</p>


<botton>ENTRAR</botton>