<nav id="nav-ul">
    <a href="">HOME</a>
    <a href="">ABOUT US</a>
    <a href="">CONTACT</a>
</nav>
<h1 id="title">{{title}}</h1>
<h2>Inicia sesión para comenzar a leer:</h2>

<div id="index-header">
    <form action="/auth/login" method="post">
        <div>
            <label for="nombre">Nombre: </label>
            <input type="nombre" id="nombre" name="nombre" required>
        </div>
        <div>
            <label for="email">Email: </label>
            <input type="email" id="email" name="email" required>
        </div>
        <div>
            <label for="password">Password: </label>
            <input type="password" id="password" name="password" required>
        </div>
        <button type="submit">Login</button>
        {{#each errors}}
            <p style="color:red">{{this}}</p>
        {{/each}}
    </form>
</div>
<p>No tienes una cuenta? <a href="/auth/register-page">Registrate aquí</a></p>