<nav id="nav-ul">
  <a href="/home">HOME</a>
  <a href="/aboutus">ABOUT US</a>
  <a href="/contact">CONTACT</a>
</nav>
<div>
  <a id="a-volver" href="/books">
    <p id="p-volver">Volver</p>
  </a>
</div>

<iframe src={{books.url}} width="100%" height="600px" style="border: none">
</iframe>