<div>
    <a id="a-volver" href="/books/index">
        <p id="p-volver">Volver</p>
    </a>
</div>

<iframe src={{books.url}} 
    width="100%" 
    height="600px" 
    style="border: none">
</iframe>

