* {
  margin: 0;
  padding: 0;
  color: "black";
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

nav {
  background-color: rgb(224, 174, 234);
}
#nav-ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
  padding: 20px 30px 20px 30px;
  color: white;
}
a {
  font-size: 14px;
  padding: 0px 10px;
  text-decoration: none;
  color: rgba(80, 18, 138, 0.766);
}
#main-body {
  text-align: center;
  padding-top: 20px;
  background-color: rgb(251, 251, 247);
}

#index-header {
  text-align: center;
  margin: 30px 10px 20px 10px;
}

#book-container {
  padding: 20px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: rgba(137, 43, 226, 0.238);
}
#book-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 25px 30px;
  background-color: rgb(251, 251, 247);
}
#book-item {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  width: 280px;
  height: 450px;
}
h2 {
  font-size: 22px;
  text-align: center;
}
p {
  font-size: 16px;
  text-align: center;
  color: rgb(132, 128, 128);
}
ul {
  list-style-type: none;
}
button {
  margin-top: 15px;
  padding: 6px 16px;
  border: none;
  border-radius: 5px;
  color: white;
  background-color: rgba(87, 68, 198, 0.9);
}
img {
  margin-top: 15px;
  width: 200px;
  height: 250px;
}

#index-header {
  margin: 30px 30px;
  line-height: 2;
}
#index-p {
  margin-top: 35px;
  margin-bottom: 25px;
  color: black;
}
#btn-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#btn-entrar {
  padding: 12px 25px;
  font-size: 18px;
}

#index-header {
  margin: 30px 30px;
  line-height: 2;
}
#title {
  margin-top: 35px;
  margin-bottom: 5px;
  text-align: center;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#a-volver {
  text-decoration: none;
  color: inherit;
  margin: 15px;
}
#p-volver {
  font-size: 20px;
  color: rgb(135, 103, 165);
}
#container-review {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 2.5;
}
#text-container {
  text-align: center;
  line-height: 1.5;
  margin: 80px 200px 20px 200px;
}

#container-book{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#container-review{
  text-align: center;
  margin-top: 20px;
}

textarea{
  border-color: rgb(226, 165, 195);
}

#sinop-container {
  width: 100%;
  height: auto;
  text-align: center;
  line-height: 1.5;
  margin-top: 20px;
}

#sinop-text{
  padding-right: 40px;
  padding-left: 40px;
  font-size: 16px;
}

#col-container{
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 10px;
}
#col-lat{
  background-color: rgb(82, 63, 78);
}
#col-mid{
  display: flex;
  align-items: center;
}